extends layout

block content
    h1 ĐĂNG NHẬP
    p Xin hãy đăng nhập
    form(method='post',action='/users/login',enctype='multipart/from-data')
        .form-group
            label Username
            input.form-control(name='username',type='text')
        .form-group
            label Password
            input.form-control(name='password',type='password')
        input.btn.btn-default(name='submit',type='submit',value='ĐĂNG NHẬP')