extends layout

block content
   
      
            li.dropdown.megamenu-fullwidth
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                | PAGES 
                b.caret  
              ul.dropdown-menu
                li.megamenu-content.ProductDetailsList
                  h3.promo-1.no-margin.hidden-xs
                    | 60 + HTML PAGES || AVAILABLE ONLY AT WRAP
                    | BOOTSTRAP
                  h3.promo-1sub.hidden-xs
                    | Complete Parallax E-Commerce Boostrap Template, Responsive
                    | on any Device, 10+ color Theme + Parallax Effect
                  ul.col-lg-2.col-sm-2.col-md-2.unstyled
                    li.no-border
                      p
                        strong  Home Pages 
                    li
                      a(href='index.html')  Home Version 1 
                    li
                      a(href='index2.html')  Home Version 2 
                    li
                      a(href='index3.html')  Home Version 3 (BOXES) 
                    li
                      a(href='index4.html')  Home Version 4 (LOOK 2)
                    li
                      a(href='index5.html')  Home Version 5 (LOOK 3)
                    li
                      a(href='index6.html')  Home Version 6 (STORY)
                    li
                      a(href='index-v-7.html')
                        | Home Version 7 (Flat) 
                        span.label.label-success new
                    li
                      a(href='index-header2.html')  Header Version 2 
                    li
                      a(href='index-header3.html')  Header Version 3 
                    li
                      a(href='index-logged-in.html')
                        | Topbar Logged In user menu 
                        span.label.label-success new
                    li
                      a(href='sidebar-shopping-cart.html')
                        | Sidebar Shopping cart 
                        span.label.label-success new
                  ul.col-lg-2.col-sm-2.col-md-2.unstyled
                    li.no-border
                      p
                        strong  Featured Pages 
                    li
                      a(href='category.html')  Category 
                    li
                      a(href='category2.html')  Category Style 2 [Parallax] 
                    li
                      a(href='sub-category.html')  Sub Category 
                    li
                      a(href='category-list.html')  Category List View 
                    li
                      a(href='category-product-hover.html')  Category [Product Hover] 
                    li
                      a(href='category-product-slide.html')  Category [Product Slide] 
                    li
                      a(href='cart.html')  Cart 
                    li
                      a(href='about-us-3.html')
                        | About Us V3 
                        span.label.label-success NEW
                    li
                      a(href='about-us-2.html')  About Us V2 
                    li
                      a(href='about-us.html')  About Us V1 
                    li
                      a(href='contact-us.html')  Contact us 
                    li
                      a(href='contact-us-2.html')  Contact us 2 (No Fixed Map) 
                    li
                      a(href='terms-conditions.html')  Terms & Conditions 
                  ul.col-lg-3.col-sm-3.col-md-3.unstyled
                    li.no-border
                      p
                        strong  Product Details 
                    li
                      a(href='product-details.html')  Product Details v1 
                    li
                      a(href='product-details-style2.html')  Product Details v 2 
                    li
                      a(href='product-details-style3.html')
                        | Product Details v 3 (Custom Thumbnail
                        | Position)
                    li
                      a(href='product-details-style4.html')  Product Details v 4 (with litebox)
                    li
                      a(href='product-details-style5.html')
                        | Product Details v 5 (Flat) 
                        span.label.label-success NEW
                    li
                      a(href='product-details-style5-1.html')
                        | Product Details v 5.1 
                        span.label.label-success NEW
                    li
                      a(href='product-details-style5-2.html')
                        | Product Details v 5.2 
                        span.label.label-success NEW
                    li
                      a(href='product-details-style5-3.html')
                        | Product Details v 5.3 
                        span.label.label-success NEW
                    li
                      a(href='product-details-style5-3-fadein.html')
                        | Product Details v 5.3.1
                        small (fadein)
                        span.label.label-success NEW
                    li
                      a(href='product-details-style5-4.html')
                        | Product Details v 5.4 
                        span.label.label-success NEW
                    li
                      a(href='product-details-style5-4.1-popup-video.html')
                        | Product Details v 5.4.1
                        small (popup video)
                        span.label.label-success NEW
                    li
                      a(href='product-details-style5-4.1-with-zoom.html')
                        | Product Details v 5.4.1
                        small (zoom + litebox)
                        span.label.label-success NEW
                  ul.col-lg-2.col-sm-2.col-md-2.unstyled
                    li.no-border
                      p
                        strong  Checkout 
                    li
                      a(href='checkout-0.html')  Checkout Before 
                    li
                      a(href='checkout-1.html')  checkout step 1 
                    li
                      a(href='checkout-2.html')  checkout step 2 
                    li
                      a(href='checkout-3.html')  checkout step 3 
                    li
                      a(href='checkout-4.html')  checkout step 4 
                    li
                      a(href='checkout-5.html')  checkout step 5 
                    li
                      a(href='one-page-checkout.html')
                        | One page checkout 
                        span.label.label-success NEW
                    li
                      a(href='thanks-for-order.html')  Thanks for order
                  ul.col-lg-1.col-sm-1.col-md-1.no-padding.unstyled
                    li.no-border
                      p
                        strong  User Account 
                    li
                      a(href='account-1.html')  Account Login 
                    li
                      a(href='account.html')  My Account 
                    li
                      a(href='my-address.html')  My Address 
                    li
                      a(href='user-information.html')  User information 
                    li
                      a(href='wishlist.html')  Wish List 
                    li
                      a(href='order-list.html')  Order list 
                    li
                      a(href='order-status.html')  Order Status 
                    li
                      a(href='forgot-password.html')  Forgot Password 
                  ul.col-lg-2.col-sm-2.col-md-2.unstyled
                    li.no-border
                      p
                        strong    
                    li
                      a(href='blog.html')  Blog 
                    li
                      a(href='blog-details.html')  Blog Details 
                    li
                      a(href='single-product-modal.html')  Single Product Details Modal
                    li
                      a(href='single-subscribe-modal.html')  Single Subscribe Modal
                    li
                      a(href='error-page.html')  Error Page 
                    li
                      a(href='blank-page.html')  Blank Page 
                    li
                      a(href='form.html')  Basic Form Element 